.image_list_page_wrapper {
    position: relative;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    padding-bottom: 0;
    background-color: #fff;
    z-index: 10;
}

.banner {
    border-radius: 50px;
    border: 1px solid #e9e8e7;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.banner_title {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2px;
}

.banner_subtitle {
    font-size: 13px;
}

.reload_btn {
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.options_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_btn {
    width: 50%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #dfdfdf;
    font-size: 13px;
    border-bottom: 3px solid transparent;
}

.option_btn.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.main_wrap {
    padding: 180px 15px 115px 15px;
}
