@keyframes moving {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-125%);
    }
}

.home_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .bullet_screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 12px;
        display: flex;

        .text {
            color: #fff;
            stroke-width: 1px;
            font-size: 24px;
            font-weight: 900;
            letter-spacing: 1.25px;
            animation: moving 15s linear forwards infinite;

            &::before {
                content: attr(data-stroke);
                position: absolute;
                z-index: -1;
                -webkit-text-stroke: 2px #212121;
            }
        }
    }

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
