.image_list_page_wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px;
    background-color: #fef0f9;
}

.image_list_page_wrapper .content {
    max-width: 990px;
    margin: 0 auto;
}

.image_list_page_wrapper .top_banner {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
}

.top_banner .image_banner {
    margin-bottom: 12px;
}

.top_banner .description_content {
    padding: 0 24px 24px 24px;
}

.top_banner .title {
    font-size: 24px;
    margin-bottom: 12px;
    font-family: 'Dancing Script', cursive;
}

.image_list_page_wrapper .list_content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    padding-bottom: 65px;
}

.view_mode_content {
    display: none;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
    padding: 0 12px;
}

.view_mode_content .view_button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #cfcfcf;
    margin-right: 4px;
}

.view_mode_content .view_button:last-child {
    margin-right: 0;
}

.view_mode_content .view_button.active {
    color: #e1a5ec;
}

@media (max-width: 767px) {
    .image_list_page_wrapper {
        padding: 0;
    }

    .image_list_page_wrapper .list_content {
        margin: 0;
        padding-bottom: 86px;
    }

    .image_list_page_wrapper .top_banner {
        border-radius: 0;
    }

    .view_mode_content {
        display: flex;
    }
}
