.image_box_wrapper {
    width: 33.33%;
    position: relative;
    padding: 0 12px;
    margin-bottom: 24px;
}

.image_box_content {
    height: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.selected_tag {
    display: flex;
    position: absolute;
    border: 1px solid var(--primary-color);
    padding: 2px 12px;
    background-color: var(--primary-color);
    color: #fff;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    z-index: 5;
}

.image_box_content .printed_tag {
    position: absolute;
    border: 1px solid #d9d9d9;
    padding: 2px 12px;
    background-color: #f5f5f5;
    color: #b8b8b8;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    z-index: 5;
    font-size: 12px;
}

.image_box_content.disabled {
    pointer-events: none;
    color: #b8b8b8;
}

.image_box_content .image_wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.image_box_content .image_wrap .image {
    width: 100%;
    border-radius: 5px;
}

.image_box_content.selected .image_wrap::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 1;
}

.image_box_content.disabled .image_wrap .image {
    opacity: 0.25;
}

.image_box_content.disabled .serial {
    color: #b8b8b8;
}

.image_box_content.disabled .name {
    color: #b8b8b8;
}

.image_box_content .serial {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #000;
}

.image_box_content .name {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #8f8f8f;
}

.image_box_content .subtitle {
    margin-right: 5px;
    flex-shrink: 0;
}

.image_box_content .ellipsis_text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image_box_content .serial {
    font-size: 13px;
}

.image_box_content .desc_content {
    pointer-events: none;
    margin-top: 6px;
}

@media (max-width: 767px) {
    .image_box_wrapper {
        width: 50%;
    }
}
